/* Default styles for light mode */
body {
    font-family: Arial, sans-serif;
    width: 300px;
    background-color: #FFFFFF; /* Light mode background color */
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    /* Styles for dark mode */
    body {
        background-color: #24272A; /* Dark mode background color */
    }
}

/* Additional styles will go here... */


/* Palette.module.css */
.palette {
    position: relative;
    border-top: 8px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #8B363D, #29496C, #232323, #7B4F26, #A49968);
  }
  
  .palette-color {
    position: absolute;
    top: -8px;
    width: calc(100% / 5);
    height: 8px;
  }
  
  .palette-color:nth-child(1) {
    left: 0;
    background-color: #8B363D;
  }
  
  .palette-color:nth-child(2) {
    left: calc(100% / 5);
    background-color: #29496C;
  }
  
  .palette-color:nth-child(3) {
    left: calc(100% / 5 * 2);
    background-color: #232323;
  }
  
  .palette-color:nth-child(4) {
    left: calc(100% / 5 * 3);
    background-color: #7B4F26;
  }
  
  .palette-color:nth-child(5) {
    left: calc(100% / 5 * 4);
    background-color: #A49968;
  }

  

  